[Unit]
Description=anchor
Documentation=https://github.com/mischief/anchor

Requires=etcd2.service skydns.service
After=etcd2.service skydns.service

[Service]
SyslogIdentifier=%p
Restart=always
RestartSec=10s

ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStartPre=/usr/bin/docker pull mischief/anchor:latest
ExecStart=/bin/sh -c "exec /usr/bin/docker run --name %n --rm \
        -e SKYDOCK_MACHINES=http://172.17.42.1:2379 \
        -e SKYDOCK_TTL=10 \
        -v /var/run/docker.sock:/var/run/docker.sock \
        mischief/anchor:latest"
ExecStop=-/usr/bin/docker stop %n

